<template>
    <v-btn
        elevation="2"
        fab
        absolute
        bottom
        right
        class="floatingActionBtn"
        @click="clickFunction"
    >
        <v-icon color="white">
            {{icon}}
        </v-icon>
    </v-btn>
</template>

<script>
    export default {
        props:{
            clickFunction: {},
            icon: {}
        },
        name: 'FloatingActionBtn',
    }
</script>

<style scoped>
    .floatingActionBtn{
        margin-bottom: 40px;
        background-color: var(--color2) !important;
    }
</style>
