<template>
    <div class="sliderDiv">
        <v-slider
            :max="maxValue"
            :min="minValue"
            v-model="controlSlider"
            @change="changeValueFunction(controlSlider)"
          >
            <template #append><span>{{ maxValue }}</span></template>
            <template #prepend><span>{{ minValue }}</span></template>
        </v-slider>
    </div>
</template>

<script>
    export default {
        props:{
            label01: {},
            label02: {},
            minValue: {},
            maxValue: {},
        },
        name: 'CustomSlider',
        data () {
            return {
                controlSlider: this.minValue,
            }
        },
        watch:{
            controlSlider:{
                handler(){
                    this.$emit('newValue', this.controlSlider);
                }
            }
        }
    }
</script>
<style scoped>
    .sliderDiv{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
    }
</style>
