:root {
    --color1: #DDD7FF;
    --color2: #EE70C5;
    --color3: #1428BF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.app{
    background-color: var(--color1) !important;
}
.panel{
    background-color: var(--color3);
    border-radius:  20px;
    padding: 2%;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h2,h3,h4{
    color: var(--color2);
}
span{
    color: var(--color1);
    font-size: 25px;
    text-align: center;
}
.fade-enter-active {
    transition: opacity 2s
  }
  
.fade-enter,
.fade-leave-active {
    opacity: 0;
}
@media (max-width: 1024px) {
    span{
        font-size: 20px;
    }
}
