<template>
  <section class="panel">
    <main>
      <div class="inputLabel">
        <CustomSwitch :label01="'EUR'" :label02="'USD'" :changeValueFunction="changeBaseCurrency" />
      </div>
      <div class="inputLabel">
        <h3>Valor:</h3>
        <span id="currencySymbol">{{BASE_CURRENCY_SYMBOL}}</span>
        <CustomTxtField 
          :type="'number'" 
          :minValue="count.minValue" 
          @newValue="changeCount"
        />
      </div>
      <div>
        <div class="inputLabel">
          <h3>Gorjeta: </h3>
          <span>{{tip.value}}%</span>
        </div>
        <div class="inputLabel">
          <CustomSlider :label01="tip.minValue" 
            :label02="tip.maxValue" 
            :minValue="tip.minValue" 
            :maxValue="tip.maxValue" 
            @newValue="changeTip"
          />
        </div>
      </div>
      <div>
         <div class="inputLabel">
          <h3>Pessoas: </h3>
          <span>{{people.value}}</span>
        </div>
        <div class="inputLabel">
          <CustomSlider :label01="people.minValue" 
            :label02="people.maxValue" 
            :minValue="people.minValue" 
            :maxValue="people.maxValue" 
            @newValue="changePeople"
          />
        </div>
      </div>
    </main>
  </section>
</template>

<script>
import {  mapState, mapMutations, mapGetters, mapActions } from 'vuex';
import CustomSwitch from '../shared/CustomSwitch.vue';
import CustomTxtField from '../shared/CustomTxtField.vue';
import CustomSlider from '../shared/CustomSlider.vue';

export default {
  name: 'InputsPanel',
  components: {
    CustomSwitch,
    CustomTxtField,
    CustomSlider
  },
  computed: {
    ...mapState('countModule', ['count', 'people', 'tip', 'currency', 'currencies']),
    ...mapGetters('countModule', ['BASE_CURRENCY_SYMBOL']),
  },
  methods: {
    ...mapMutations('countModule', ['SET_CURRENCY', 'SET_COUNT', 'SET_TIP', 'SET_PEOPLE']),
    ...mapActions('countModule', ['GET_BASE_CURRENCY_QUOTE']),

    changeBaseCurrency(baseCurrency){
      this['GET_BASE_CURRENCY_QUOTE']({
          base_currency: baseCurrency
      });
    },
    changeCount(value){
      this['SET_COUNT']({value});
    },
    changeTip(value){
      this['SET_TIP'](value);
    },
    changePeople(value){
      this['SET_PEOPLE'](value);
    }
  },
}
</script>
<style scoped>
  #currencySymbol{
    margin-right: 5px;
  }
  h3{
    margin: 5px;
  }
  .inputLabel{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
  }
</style>
