<template>
  <section class="panel">
    <main>
      <div class="result-div">
        <h3>Conta</h3>
        <span>{{BASE_CURRENCY_SYMBOL}} {{COUNT}}</span>
      </div>
      <div class="result-div">
        <h3>Gorjeta</h3>
        <span>{{BASE_CURRENCY_SYMBOL}} {{FORMATED_TIP}}</span>
      </div>
      <div class="result-div">
        <h3>Total</h3>
        <span>{{BASE_CURRENCY_SYMBOL}} {{COUNT_AND_TIP}}</span>
      </div>
      <div class="result-div">
        <h3>por Pessoa</h3>
        <span>{{BASE_CURRENCY_SYMBOL}} {{COUNT_AND_TIP_BY_PERSON}}</span>
      </div>
      <div class="result-div">
        <h3>em R$</h3>
        <span>R$ {{CONVERTED_COUNT_AND_TIP_BY_PERSON}}</span>
      </div>
    </main>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ResultsPanel',
  computed:{
    ...mapGetters('countModule',['COUNT', 'FORMATED_TIP', 'COUNT_AND_TIP' ,'COUNT_AND_TIP_BY_PERSON', 'CONVERTED_COUNT_AND_TIP_BY_PERSON', 'BASE_CURRENCY_SYMBOL'])
  }
}
</script>
<style scoped>
main{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.result-div{
  padding: 12px 5px 12px;
  text-align: center;
}
</style>
