<template>
    <header>
        <img src="../assets/images/logo.png" id="logo" alt="Logo">
    </header>
</template>

<script>
    export default {
        name: 'Header'
    }
</script>

<style scoped>
    header{
        padding: 0 5% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #logo{
        width: 100%;
        max-width: 400px;
    }
</style>