<template>
    <div class="home">
        <Header/>
        <main>
            <transition name="fade" v-if="isMobile">
                <InputsPanel v-if="!showResultsPanelMobile"/>
                <ResultsPanel v-else/>
            </transition>
            <div class="panels" v-else>
                <InputsPanel/>
                <ResultsPanel/>
            </div>
        </main>
        <FloatingActionBtn v-if="isMobile" :icon="floatingActionBtnMobileIcon" :clickFunction="CHANGE_SHOW_PANELS_MOBILE"/>
    </div>
</template>

<script>
import Header from '../../components/Header.vue';
import InputsPanel from '../../components/Home/InputsPanel.vue'
import ResultsPanel from '../../components/Home/ResultsPanel.vue'
import FloatingActionBtn from '../../components/shared/CustomFloatingActionBtn.vue'
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Home',
  components: {
    Header,
    InputsPanel,
    ResultsPanel,
    FloatingActionBtn
  },
  data(){
      return{
          route: true
      }
  },
  computed:{
    ...mapState('uiModule', ['showResultsPanelMobile', 'floatingActionBtnMobileIcon']),
    isMobile(){
        return this.$vuetify.breakpoint.width <= 1024;
    },
  },
  methods: {
    ...mapMutations('countModule', ['SET_CURRENCY']),
    ...mapMutations('uiModule', ['CHANGE_SHOW_PANELS_MOBILE']),
    ...mapActions('countModule', ['GET_BASE_CURRENCY_QUOTE']),
  },
  mounted(){
      this['GET_BASE_CURRENCY_QUOTE']({
          base_currency: 'USD'
      });
  }
}
</script>
<style scoped>
    .home{
        width: 100%;
        height: 100vh;
        padding: 0px 20px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .panels{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    @media (max-width: 1024px) {
        .home{
            height: 100%;
        }
        main{
            justify-content: center;
        }
    }
</style>
