<template>
  <v-app class="app">
    <v-main>
      <Home/>
    </v-main>
  </v-app>
</template>

<script>
import './styles/global.css';
import Home from './views/Home/Home';

export default {
  name: 'App',

  components: {
    Home,
  },
};
</script>
